@* Stien ind til siden *@
@page "/Account/Login"

@* Imports *@
@using System.ComponentModel.DataAnnotations
@using FLLVestSjaelland.Account
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity


@* Dependencies injections *@
@inject SignInManager<ApplicationUser> SignInManager
@* @inject ILogger<Login> Logger *@
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

@* Tab title *@
<PageTitle>Log in</PageTitle>


@* Mere eller mindre bare blandet html *@
<h1>Log in</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <StatusMessage Message="@errorMessage" />
            @* Tjekker om alle intastede informationer er valide, når der trykkes "log ind" - en sej div *@
            <EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
                <DataAnnotationsValidator />
                <hr />
                <ValidationSummary class="text-danger" role="alert" />
                <div class="form-floating mb-3">
                    <InputText @bind-Value="Input.Username" autocomplete="Brugernavn" aria-required="true" placeholder="Brugernavn" />
                    <ValidationMessage For="() => Input.Username" class="text-danger" />
                </div>
                <div class="form-floating mb-3">
                    <InputText type="password" @bind-Value="Input.Password" autocomplete="Adgangskode" aria-required="true" placeholder="Adgangskode" />
                    <ValidationMessage For="() => Input.Password" class="text-danger" />
                </div>
                <div>
                    <button type="submit" class="btn btn-lg btn-primary w-100">Log ind</button>
                </div>
                @* Et link med parametre *@
                <a href="@(NavigationManager.GetUriWithQueryParameters("Account/OpretBruger", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))">Opret bruger</a>
            </EditForm>
        </section>
    </div>
</div>


@code {
    // Variabler
    private string? errorMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    // Metode fra Blazor som køres EN gang når man kommer ind på siden
    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Log brugeren ud
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }
    
    //Metode til log ind
    public async Task LoginUser()
    {
        var result = await SignInManager.PasswordSignInAsync(Input.Username, Input.Password, false, lockoutOnFailure: false);
        if (result.Succeeded)
        {
            RedirectManager.RedirectTo(ReturnUrl);
        }
    }

    //Privat klasse til at håndtere input data
    private sealed class InputModel
    {
        [Required]
        public string Username { get; set; } = "";

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";
    }
}
