
<div class="">
    <nav class="h-[30%] w-full bg-[#b0190e] text-black">
        <div class="">
            <NavLink class="" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>

        <div class="">
            <NavLink class="" href="Bruger/Oversigt">
                <span class="" aria-hidden="true"></span> Oversigt
            </NavLink>
        </div>
    </nav>
</div>

